body {
  padding: 30px 12.5%;
  font: 12pt/1.5 Georgia, serif;
  background: #fff;
  color: #444;
}
h1 {
  margin: 0 0 60px;
}
h2, h3, h4, h5, h6 {
  margin: 40px 0 20px;
  border-bottom: 1px #ddd solid;
  padding-bottom: 5px;
}
h1, h2, h3, h4, h5 {
  line-height: 1.1;
  color: #000;
}
a {
  color: #3366ee;
  text-decoration: none;
}
li {
  margin-top: 0;
  margin-bottom: 0;
}
p {
  margin: 12px 0;
}
code, pre {
  font: 11pt/1.5 Menlo, Monaco, monospace;
  background: #f4f4f4;
}
pre {
  padding: 6px 12px;
  margin: 15px 0 20px;
}
code {
  display: inline-block;
  padding: 0 4px;
}
#toc {
  width: 260px;
  position: fixed;
  line-height: 1.1;
}
#toc ol {
  list-style-type: none;
}
#toc li {
  margin: 5px 0;
}
.toc-list {
  padding-left: 20px;
}
.toc-link {
  display: inline-block;
  padding: 5px 0;
}
#content {
  margin-left: 300px;
}
